* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: PN, sans-serif;
    position: relative;
}

/*.navbar {
    width: 100%;*/
    /*background-color: #fff;*/
/*}

.navbar__container {
    width: 80%;
    padding: 10px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex {
    display: flex;
    align-items: center;
}

.modul__item {
    list-style: none;
    margin-right: 20px;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
}

.modul__item-link {
    text-decoration: none;*/
    /*color: #fff;*/
    /*line-height: 30px;
}

.modul__item-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: .4s;
}

.modul__item:hover .modul__item-link::after {
    width: 100%;
}

.modul__item-list {
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    color: #fff;
    list-style: none;
    min-width: 205px;
    margin-top: 10px;
    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
    transform: translateY(20px);
    transition: all .4s ease-in-out;
    z-index: 10;
}

.item-list__link {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.modul__item:hover>.modul__item-list {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.navbar__icons {
    margin-left: 10px;
}

.navbar__icon {
    color: #fff;
    font-size: 22px;
    margin-right: 15px;
}*/


/*   Gioi thieu nd*/

.Introduce {
    width: 100%;
}



.Introduce__baner {
    padding: 15px;
    background-image: url(https://bizweb.dktcdn.net/100/310/257/themes/801944/assets/breadcrum_bg_real.png);
    height: 300px;
    position: relative;
}

.items {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    text-align: center;
}

    .items h4 {
        color: #fff;
        font-size: 32px;
    }

    .items ul {
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
        justify-content: center;
        margin-top: 30px;
    }

        .items ul li {
            list-style: none;
        }

.fa-chevron-right {
    margin-right: 15px;
    color: #fff;
}


.items ul li .items-font {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.items ul li .list_item-tab{
    color: #fff;
    font-size: 14px;
}

.Introduce__Content{
    padding-left: 8%;
    padding-right: 8%;
}

.impomation__Itroduce{
    padding: 50px 10px 50px 10px;
    margin-top: 0px;
    border-radius: 3px;
}

.headingPage h1{
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #333;
}

.contentPage p{
    margin-bottom: 25px;
    color: #494a48;
    font-size: 14px;
}

/* footer */

.footer {
    width: 100%;
    background-color: #494a48;
    color: #fff;
    margin-top: 100px;
    border-bottom: 1px solid #ccc;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.footer__block {
    width: 22%;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
}

.footer__block__body {
    margin-left: 15px;
}

.payment {
    width: 100%;
    background-color: #494a48;
    color: #fff;
    text-align: center;
}

.payment__logo {
    padding: 30px 0;
}

.payment__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment__item {
    padding: 0 16px;
    border-right: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 12px;
}

.payment__item-link {
    text-decoration: none;
    color: #fff;
}

.payment__license {
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 12px;
}


