/* CART */

.shopping__cart {
    width: 100%;
    background-color: #fff;
}


.shoppingCart-container {
    width: 80%;
    margin: 0 auto;
}

.shoppingCart__title {
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 20px;
}

.shoppingCart__body {
    display: flex;
    justify-content: space-between;
}

.cart__table {
    width: 65%;
}

.cart__tableBox {
    width: 100%;
}

.shoppingCart__item {
    width: 100%;
}

.shoppingCart__item th {
    padding: 10px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    font-weight: normal;
}

.th__product {
    width: 36%;
}

.cart__itemChild {
    display: flex;
}

.cart__itemChild-img {
    padding: 5px 0;
}

.cart__itemChild-img img {
    width: 150px;
}

.cart__itemChild-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.cart__itemChild-name {
    padding-top: 30px;
    padding-bottom: 20px;
}

.cart__product td {
    border-color: #eee;
    border-bottom: 1px solid #eee;
}

.cart__row {
    text-align: center;
}

.cart__rowQuantity {
    border: 1px solid #ccc;
    height: 35px;
    width: 80px;
    outline: 0;
    padding: 0 10px;
}

.cart__idItem {
    display: none;
}

.cart__button-action {
    margin: 50px 0;
}

.cart__button-link {
    display: inline-block;
    border: 0;
    background: #f8452d;
    height: 50px;
    padding: 0 40px;
    border-radius: 50px;
    font-size: 16px;
    text-decoration: none;
    line-height: 50px;
    transition: all .3s;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid #f8452d !important;
    margin-top: 30px;
    cursor: pointer;
}

.fa-cart-plus {
    padding: 30px;
}

.fa-trash-alt {
    cursor: pointer;
}


/* Cart payment */

.cart__payment {
    width: 33%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.cart__payment-total {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #eee;
}

.cart__payment-pay {
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
}

.cart__payment-pay__select {
    padding: 10px 20px;
}

    .cart__payment-pay__select h4 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .cart__payment-pay__select .mb-2 {
        margin-bottom: 10px;
    }

    .link-pay {
        font-size: 16px;
        text-align: center;
        width: 40%;
        margin: 20px auto;
    }

.modal__quan-container {
    justify-content: center;
    margin: 0;
}
