<div class="brand">
    <div class="product__title">THƯƠNG HIỆU</div>
    <button id="btn-left" class="button__prev"><i class="fas fa-chevron-left"></i></button>
    <button id="btn-right" class="button__next"><i class="fas fa-chevron-right"></i></button>
    <div class="brand-container" id="brand-slider">
        <div class="brand__logo">
            <img src="~/Assets/Client/assets/img/brand1.png" alt="" class="brand__img">
        </div>
        <div class="brand__logo">
            <img src="~/Assets/Client/assets/img/brand2.png" alt="" class="brand__img">
        </div>
        <div class="brand__logo">
            <img src="~/Assets/Client/assets/img/brand3.png" alt="" class="brand__img">
        </div>
        <div class="brand__logo">
            <img src="~/Assets/Client/assets/img/brand4.png" alt="" class="brand__img">
        </div>
        <div class="brand__logo">
            <img src="~/Assets/Client/assets/img/brand5.png" alt="" class="brand__img">
        </div>
        <div class="brand__logo">
            <img src="~/Assets/Client/assets/img/brand6.png" alt="" class="brand__img">
        </div>
        <div class="brand__logo">
            <img src="~/Assets/Client/assets/img/brand7.png" alt="" class="brand__img">
        </div>
        <div class="brand__logo">
            <img src="~/Assets/Client/assets/img/brand8.jfif" alt="" class="brand__img">
        </div>
    </div>
</div>
