<div class="footer">
    <div class="footer-container">
        <div class="footer__head">
            <div class="footer__logo">
                <img src="~/Assets/Client/assets/img/logo.png" alt="" style="max-width: 100px;" class="footer__logo-img">
            </div>
            <div class="footer__block">
                <div class="footer__block-icon">
                    <i class="fas fa-home"></i>
                </div>
                <div class="footer__block__body">
                    <span class="footer__name">Địa chỉ:</span>
                    <p class="footer__value">Cổ Nhuế - Bắc Từ Liêm - Hà Nội</p>
                </div>
            </div>
            <div class="footer__block">
                <div class="footer__block-icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="footer__block__body">
                    <span class="footer__name">Email:</span>
                    <a href="mailto:Haibh0903@gmail.com" class="footer__value">Haibh0903@gmail.com</a>
                </div>
            </div>
            <div class="footer__block">
                <div class="footer__block-icon">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="footer__block__body">
                    <span class="footer__name">Điện thoại:</span>
                    <a href="tel:035 285 0379" class="footer__value">035 285 0379</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="payment">
    <div class="payment__logo">
        <img src="~/Assets/Client/assets/img/payment-icon.png" style="max-width: 100%; max-height: 40px;" alt="">
    </div>
    <ul class="payment__list">
        <li class="payment__item">
            <a href="#" class="payment__item-link">Trang chủ</a>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link">giới thiệu</a>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link">sản phẩm</a>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link">tin tức
        <li class="payment__item" style="border-right: none">
            <a href="#" class="payment__item-link">liên hệ</a>
        </li>
    </ul>
    <div class="payment__license">
        © Bản quyền thuộc về BuiHoangHai | <a href="https://www.facebook.com/Haibuihoang.09" class="bhh">BHH</a>
    </div>
</div>