<div class="product">
    <div class="product-container">
        <div class="product__title">
            <a href="#" class="product__h3">
                SẢN PHẨM NỔI BẬT
            </a>
        </div>

        <div class="product__list">
            <div class="product__item" data-aos="fade-up">
                <a href="product-details1.html" class="pro__item-link">
                    <div class="product__img">
                        <span class="onsale">14%</span>
                        <img src="./assets/img/pro1.jpg" class="product__item-img" alt="" width="100%">
                        <img src="./assets/img/pro1-b.jpg" class="product__item-hidden" alt="" width="100%">
                    </div>
                    <div class="product__name">
                        <h5 class="product__name-item">Quần HOODED HOUNDSTOOTH BLAZER</h5>
                        <span><span class="product__price">600.000</span>₫</span>
                        <span class="price">700.000₫</span>
                    </div>
                </a>
                <div class="product__icon">
                    <div class="product__ic icon__hover1">
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    <div class="product__ic icon__hover2" style="margin: 0 20px;">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product__ic icon__hover3">
                        <i class="fas fa-eye"></i>
                    </div>
                </div>
                <div class="product__modal">
                    <div class="modal__title">
                        <h3 class="modal__h3">thông tin sản phẩm</h3>
                    </div>
                    <div class="modal__body">
                        <div class="modal__close">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <div class="modal__img">
                            <div class="modal__main-img">
                                <img src="./assets/img/pro1.jpg" class="pro__main-im" width="100%" alt="">
                            </div>
                            <div class="modal__change-img">
                                <div class="modal__ch img__active">
                                    <img src="./assets/img/pro1.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro1-b.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="modal__detail">
                            <h4 class="modal__detail-title">Quần HOODED HOUNDSTOOTH BLAZER</h4>
                            <span><span class="modal__price">600.000</span>₫</span>
                            <span class="price">700.000đ</span>
                            <p class="modal__detail-p">
                                Quần HOODED HOUNDSTOOTH BLAZER kiểu dáng thon gọn, cổ áo nâng cao với tab có nút, khóa kéo phía trước với túi có nút, thắt lưng có thể điều chỉnh, túi vá bốn nút, tay áo dài có còng cài nút, một lỗ thông hơi phía sau, lót và một số túi bên trong. Chiều
                                dài trở lại cho kích thước L là 74 cm....
                            </p>
                            <div class="modal__size">
                                <span>Kích thước</span>
                                <select name="">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                            <div class="modal__quanlity">
                                <span>Số lượng</span>
                                <input type="number" min="1" value="1">
                            </div>
                            <div class="modal__buy">
                                <button class="modal__btn">Thêm vào giỏ</button>
                                <span class="modal__or">hoặc</span>
                                <a href="#" class="modal__link">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__item" data-aos="fade-up" data-aos-delay="300">
                <a href="product-details2.html" class="pro__item-link">
                    <div class="product__img">
                        <span class="onsale">14%</span>
                        <img src="./assets/img/pro2-a.jpg" class="product__item-img" alt="" width="100%">
                        <img src="./assets/img/pro2-b.jpg" class="product__item-hidden" alt="" width="100%">
                    </div>
                    <div class="product__name">
                        <h5 class="product__name-item">Áo CONTRAST PIPING</h5>
                        <span><span class="product__price">750.000</span>₫</span>
                        <span class="price">900.000₫</span>
                    </div>
                </a>
                <div class="product__icon">
                    <div class="product__ic icon__hover1">
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    <div class="product__ic icon__hover2" style="margin: 0 20px;">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product__ic icon__hover3" data-link="data2">
                        <i class="fas fa-eye"></i>
                    </div>
                </div>
                <div class="product__modal">
                    <div class="modal__title">
                        <h3 class="modal__h3">thông tin sản phẩm</h3>
                    </div>
                    <div class="modal__body">
                        <div class="modal__close">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <div class="modal__img">
                            <div class="modal__main-img">
                                <img src="./assets/img/pro2-a.jpg" class="pro__main-im" width="100%" alt="">
                            </div>
                            <div class="modal__change-img">
                                <div class="modal__ch img__active">
                                    <img src="./assets/img/pro2-a.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro2-b.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro2-c.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro2-d.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="modal__detail">
                            <h4 class="modal__detail-title">Áo CONTRAST PIPING</h4>
                            <span><span class="modal__price">750.000</span>₫</span>
                            <span class="price">900.000đ</span>
                            <p class="modal__detail-p">
                                Quần HOODED HOUNDSTOOTH BLAZER kiểu dáng thon gọn, cổ áo nâng cao với tab có nút, khóa kéo phía trước với túi có nút, thắt lưng có thể điều chỉnh, túi vá bốn nút, tay áo dài có còng cài nút, một lỗ thông hơi phía sau, lót và một số túi bên trong. Chiều
                                dài trở lại cho kích thước L là 74 cm....
                            </p>
                            <div class="modal__size">
                                <span>Kích thước</span>
                                <select name="">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                            <div class="modal__quanlity">
                                <span>Số lượng</span>
                                <input type="number" min="1" value="1">
                            </div>
                            <div class="modal__buy">
                                <button class="modal__btn">Thêm vào giỏ</button>
                                <span class="modal__or">hoặc</span>
                                <a href="#" class="modal__link">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__item" data-aos="fade-up" data-aos-delay="600">
                <a href="product-details3.html" class="pro__item-link">
                    <div class="product__img">
                        <img src="./assets/img/pro3-a.jpg" class="product__item-img" alt="" width="100%">
                        <img src="./assets/img/pro3-b.jpg" class="product__item-hidden" alt="" width="100%">
                    </div>
                    <div class="product__name">
                        <h5 class="product__name-item">Áo SEAMED JACKET</h5>
                        <span><span class="product__price">1.200.000</span>₫</span>
                    </div>
                </a>
                <div class="product__icon">
                    <div class="product__ic icon__hover1">
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    <div class="product__ic icon__hover2" style="margin: 0 20px;">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product__ic icon__hover3" data-link="data3">
                        <i class="fas fa-eye"></i>
                    </div>
                </div>
                <div class="product__modal">
                    <div class="modal__title">
                        <h3 class="modal__h3">thông tin sản phẩm</h3>
                    </div>
                    <div class="modal__body">
                        <div class="modal__close">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <div class="modal__img">
                            <div class="modal__main-img">
                                <img src="./assets/img/pro3-a.jpg" class="pro__main-im" width="100%" alt="">
                            </div>
                            <div class="modal__change-img">
                                <div class="modal__ch img__active">
                                    <img src="./assets/img/pro3-a.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro3-b.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro3-c.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="modal__detail">
                            <h4 class="modal__detail-title">Áo SEAMED JACKET</h4>
                            <span><span class="modal__price">1.200.000</span>₫</span>
                            <p class="modal__detail-p">
                                Áo SEAMED JACKET kiểu dáng thon gọn, cổ áo nâng cao với tab có nút, khóa kéo phía trước với túi có nút, thắt lưng có thể điều chỉnh, túi vá bốn nút, tay áo dài có còng cài nút, một lỗ thông hơi phía sau, lót và một số túi bên trong. Chiều dài trở lại
                                cho kích thước L là 74 cm....
                            </p>
                            <div class="modal__size">
                                <span>Kích thước</span>
                                <select name="">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                            <div class="modal__quanlity">
                                <span>Số lượng</span>
                                <input type="number" min="1" value="1">
                            </div>
                            <div class="modal__buy">
                                <button class="modal__btn">Thêm vào giỏ</button>
                                <span class="modal__or">hoặc</span>
                                <a href="#" class="modal__link">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__item" data-aos="fade-up">
                <a href="product-details4.html" class="pro__item-link">
                    <div class="product__img">
                        <span class="onsale">14%</span>
                        <img src="./assets/img/pro4-a.jpg" class="product__item-img" alt="" width="100%">
                        <img src="./assets/img/pro4-b.jpg" class="product__item-hidden" alt="" width="100%">
                    </div>
                    <div class="product__name">
                        <h5 class="product__name-item">Áo BLAZER</h5>
                        <span><span class="product__price">800.000</span>₫</span>
                        <span class="price">950.000₫</span>
                    </div>
                </a>
                <div class="product__icon">
                    <div class="product__ic icon__hover1">
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    <div class="product__ic icon__hover2" style="margin: 0 20px;">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product__ic icon__hover3" data-link="data4">
                        <i class="fas fa-eye"></i>
                    </div>
                </div>
                <div class="product__modal">
                    <div class="modal__title">
                        <h3 class="modal__h3">thông tin sản phẩm</h3>
                    </div>
                    <div class="modal__body">
                        <div class="modal__close">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <div class="modal__img">
                            <div class="modal__main-img">
                                <img src="./assets/img/pro4-a.jpg" class="pro__main-im" width="100%" alt="">
                            </div>
                            <div class="modal__change-img">
                                <div class="modal__ch img__active ">
                                    <img src="./assets/img/pro4-a.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro4-b.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro4-c.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="modal__detail">
                            <h4 class="modal__detail-title">Áo BLAZER</h4>
                            <span><span class="modal__price">800.000</span>₫</span>
                            <span class="price">950.000đ</span>
                            <p class="modal__detail-p">
                                Áo BLAZER kiểu dáng thon gọn, cổ áo nâng cao với tab có nút, khóa kéo phía trước với túi có nút, thắt lưng có thể điều chỉnh, túi vá bốn nút, tay áo dài có còng cài nút, một lỗ thông hơi phía sau, lót và một số túi bên trong. Chiều dài trở lại cho kích
                                thước L là 64 cm....
                            </p>
                            <div class="modal__size">
                                <span>Kích thước</span>
                                <select name="">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                            <div class="modal__quanlity">
                                <span>Số lượng</span>
                                <input type="number" min="1" value="1">
                            </div>
                            <div class="modal__buy">
                                <button class="modal__btn">Thêm vào giỏ</button>
                                <span class="modal__or">hoặc</span>
                                <a href="#" class="modal__link">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__item" data-aos="fade-up" data-aos-delay="300">
                <a href="product-details5.html" class="pro__item-link">
                    <div class="product__img">
                        <img src="./assets/img/pro5-a.jpg" class="product__item-img" alt="" width="100%">
                        <img src="./assets/img/pro5-b.jpg" class="product__item-hidden" alt="" width="100%">
                    </div>
                    <div class="product__name">
                        <h5 class="product__name-item">Áo khoác POCKETS</h5>
                        <span><span class="product__price">600.000</span>₫</span>
                    </div>
                </a>
                <div class="product__icon">
                    <div class="product__ic icon__hover1">
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    <div class="product__ic icon__hover2" style="margin: 0 20px;">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product__ic icon__hover3" data-link="data5">
                        <i class="fas fa-eye"></i>
                    </div>
                </div>
                <div class="product__modal">
                    <div class="modal__title">
                        <h3 class="modal__h3">thông tin sản phẩm</h3>
                    </div>
                    <div class="modal__body">
                        <div class="modal__close">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <div class="modal__img">
                            <div class="modal__main-img">
                                <img src="./assets/img/pro5-a.jpg" class="pro__main-im" width="100%" alt="">
                            </div>
                            <div class="modal__change-img">
                                <div class="modal__ch img__active">
                                    <img src="./assets/img/pro5-a.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro5-b.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro5-c.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro5-d.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="modal__detail">
                            <h4 class="modal__detail-title">Áo khoác POCKETS</h4>
                            <span><span class="modal__price">600.000</span>₫</span>
                            <span class="price">700.000đ</span>
                            <p class="modal__detail-p">
                                Áo khoác POCKETS kiểu dáng thon gọn, cổ áo nâng cao với tab có nút, khóa kéo phía trước với túi có nút, thắt lưng có thể điều chỉnh, túi vá bốn nút, tay áo dài có còng cài nút, một lỗ thông hơi phía sau, lót và một số túi bên trong. Chiều dài trở lại
                                cho kích thước L là 84 cm....
                            </p>
                            <div class="modal__size">
                                <span>Kích thước</span>
                                <select name="">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                            <div class="modal__quanlity">
                                <span>Số lượng</span>
                                <input type="number" min="1" value="1">
                            </div>
                            <div class="modal__buy">
                                <button class="modal__btn">Thêm vào giỏ</button>
                                <span class="modal__or">hoặc</span>
                                <a href="#" class="modal__link">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__item" data-aos="fade-up" data-aos-delay="600">
                <a href="product-details6.html" class="pro__item-link">
                    <div class="product__img">
                        <span class="onsale">14%</span>
                        <img src="./assets/img/pro6-a.jpg" class="product__item-img" alt="" width="100%">
                        <img src="./assets/img/pro6-b.jpg" class="product__item-hidden" alt="" width="100%">
                    </div>
                    <div class="product__name">
                        <h5 class="product__name-item">Áo thun CORDUROY</h5>
                        <span><span class="product__price">400.000</span>₫</span>
                        <span class="price">500.000₫</span>
                    </div>
                </a>
                <div class="product__icon">
                    <div class="product__ic icon__hover1">
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    <div class="product__ic icon__hover2" style="margin: 0 20px;">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product__ic icon__hover3" data-link="data6">
                        <i class="fas fa-eye"></i>
                    </div>
                </div>
                <div class="product__modal">
                    <div class="modal__title">
                        <h3 class="modal__h3">thông tin sản phẩm</h3>
                    </div>
                    <div class="modal__body">
                        <div class="modal__close">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <div class="modal__img">
                            <div class="modal__main-img">
                                <img src="./assets/img/pro6-a.jpg" class="pro__main-im" width="100%" alt="">
                            </div>
                            <div class="modal__change-img">
                                <div class="modal__ch img__active">
                                    <img src="./assets/img/pro6-a.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro6-b.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro6-c.jpg" alt="">
                                </div>
                                <div class="modal__ch">
                                    <img src="./assets/img/pro6-d.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="modal__detail">
                            <h4 class="modal__detail-title">Áo thun CORDUROY</h4>
                            <span><span class="modal__price">400.000</span>₫</span>
                            <span class="price">500.000đ</span>
                            <p class="modal__detail-p">
                                Áo CORDUROY kiểu dáng thon gọn, cổ áo nâng cao với tab có nút, khóa kéo phía trước với túi có nút, thắt lưng có thể điều chỉnh, túi vá bốn nút, tay áo dài có còng cài nút, một lỗ thông hơi phía sau, lót và một số túi bên trong. Chiều dài trở lại cho kích
                                thước L là 74 cm....
                            </p>
                            <div class="modal__size">
                                <span>Kích thước</span>
                                <select name="">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                            <div class="modal__quanlity">
                                <span>Số lượng</span>
                                <input type="number" min="1" value="1">
                            </div>
                            <div class="modal__buy">
                                <button class="modal__btn">Thêm vào giỏ</button>
                                <span class="modal__or">hoặc</span>
                                <a href="#" class="modal__link">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a title="Xem tất cả" href="all-products.html" class="btnx">
            <span class="btn-content">Xem tất cả</span>
            <span class="icon"><i class="fa fa-arrow-right"></i></span>
        </a>
    </div>
</div>
