@model List<FationShop.Models.CartItem>

<div class="navbar__icon navbar__cart" title="Giỏ hàng">
    <a href="/gio-hang" class="navbar__acount">
        <i class="fas fa-shopping-bag"></i>
        <p>@Model.Count</p>
    </a>
</div>
