<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target xsi:type="File" name="messages" fileName="${basedir}/App_Data/logs/messages.log"
            archiveFileName="${basedir}/App_Data/logs/archives/messages.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="5" concurrentWrites="true" keepFileOpen="false"
            layout="${level} | ${logger} | ${longdate} | ${message}${onexception: | ${exception:format=ToString,StackTrace:maxInnerExceptionLevel=10}}" />
    <target xsi:type="File" name="ckfinder" fileName="${basedir}/App_Data/logs/ckfinder.log"
            archiveFileName="${basedir}/App_Data/logs/archives/ckfinder.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="5" concurrentWrites="true" keepFileOpen="false"
            layout="${level} | ${logger} | ${longdate} | ${message}${onexception: | ${exception:format=ToString,StackTrace:maxInnerExceptionLevel=10}}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="messages" />
    <logger name="CKSource.CKFinder.*" minlevel="Trace" writeTo="ckfinder" />
  </rules>
</nlog>