<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TMT FASHION THÔNG BÁO.</title>
</head>
<body>
    Kính chào quý khách: <b>{{CustomerName}}</b> <br />
    Quý khách nhận được email này, vì đã đặt thành công đơn hàng trên TMT Fashion của chúng tôi. <br />

    Dưới đây là thông tin đơn hàng:<br />
    <ul>
        <li>Điện thoại nhận hàng: {{Phone}} <br /></li>
        <li>Email: {{Email}} <br /></li>
        <li>Địa chỉ nhận hàng: {{Address}} <br /></li>
        <li>Tổng tiền: {{Total}} <br /></li>
    </ul>
    
</body>
</html>